<!DOCTYPE html>
<html lang="en">

<!--Header of html for about page. Imports Bulma and local style.css-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
    <title>Builder's Statistics</title>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"  href="builderProfile.html">
        Profile
      </a>
      <a class="navbar-item" href="builderServices.html">
        Services
      </a>
      <a class="navbar-item" href="statistics.html">
        Customer Statistics
      </a>
      <a class="navbar-item is-selected" href="builderReviews.html">
        Your Reviews
      </a>
  </div>
</nav>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">Anonymous Buyer 1</p>
     <p class="subtitle is-6">Rating: 5/5</p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      Great build! Would do business again!
      <br />
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="builderReply.html" class="card-footer-item">Reply</a>
  </footer>
</div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">Anonymous Buyer 2</p>
     <p class="subtitle is-6">Rating: 0/5</p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src="https://i.redd.it/a07mti5yvol41.jpg"
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      It caught on fire...
      <br />
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="builderReply.html" class="card-footer-item">Reply</a>
  </footer>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
</script>

</body>