<!DOCTYPE html>
<html lang="en">

<!--Header of html for about page. Imports Bulma CSS and local style.css-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
    <title>Builder's Services</title>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"  href="builderProfile.html">
        Profile
      </a>
      <a class="navbar-item is-selected" href="builderServices.html">
        Services
      </a>
      <a class="navbar-item" href="statistics.html">
        Customer Statistics
      </a>
      <a class="navbar-item" href="builderReviews.html">
        Your Reviews
      </a>
  </div>
</nav>

<h1 class="title">
      Search for part online
    </h1>
<form class="box">
  <div class="field">
    <label class="label">Type part name here</label>
    <div class="control">
      <input class="input" type="email" placeholder="e.g. AMD Radeon RX 9070 XT" />
    </div>
  </div>

  <div class="field">
    <label class="label">Set Price</label>
    <div class="control">
      <input class="input" type="password" placeholder="e.g. $1,008" />
    </div>
  </div>

  <button class="button">Add</button>
</form>

<h1 class="title">
      Manually add part
    </h1>
<form class="box">
  <div class="field">
    <label class="label">Type of Part</label>
    <div class="select">
  <select>
    <option>CPU</option>
    <option>GPU</option>
    <option>RAM</option>
    <option>Storage</option>
    <option>Cases</option>
    <option>Cooling (CPU Cooler/Fans)</option>
  </select>
</div>
  </div>

  <div class="field">
    <label class="label">Name of Part</label>
    <div class="control">
      <input class="input" type="password" placeholder="e.g. AMD Radeon RX 9070 XT" />
    </div>
  </div>

   <div class="field">
    <label class="label">Set Price</label>
    <div class="control">
      <input class="input" type="password" placeholder="e.g. $1,008" />
    </div>
  </div>
  <button class="button">Add</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
</script>

</body>